
@tailwind base;
@tailwind components;
@tailwind utilities;

i{
    cursor: pointer;
}

@font-face {
    font-family: vazir;
    src: url(../src//fonts/Vazir.ttf) format("truetype");
}
*{
    font-family: vazir;
}
/* sidebar */
#sidebar{
    animation:right 0.5s ease-in-out ;
}
@keyframes right {
    0% {
      margin-right: -300px;
    }
    100% {
      margin-right: 0;
    }
  }
  
/* end of sidebar */

#more{
  animation:bottom 0.5s ease-in-out ;
}
@keyframes bottom {
  0% {
    margin-top: 600px;
  }
  100% {
    margin-top: 0;
  }
}
/* carousel */
::-webkit-scrollbar{
  display: none;
}
/* end of carousel */
/* hover */
.RxHamburgerMenu:hover + #drawer-navigation {
  display: block;
}
/* end of hover */